<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Clients</title>
</head>
<body>

<div>
    <h1>Clients List</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr th:each="client:${clientList}">
            <td th:text="${client.clientId}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.country}"></td>
            <td th:text="${client.phone}"></td>
            <td>
                <a th:href="@{${'/web/client/edit/' + client.clientId}}">Edit</a>
                <a th:href="@{${'/web/client/delete/' + client.clientId}}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/web/client/add">Add client</a>
</div>

</body>
</html>